{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'subscriptions/css/home.css' %}>
    <link rel="stylesheet" href={% static 'subscriptions/css/modal.css' %}>
    <link rel="stylesheet" href={% static 'subscriptions/css/main_slider.css' %}>
    <title>home page</title>
</head>
<body>
    <div class="time-banner"></div>
    <div class="header">
        <div class="header-left">
            <!--인덱스 버튼-->
            <a href="#main2">가격확인</a>
            <a href="#main4">신청하기</a>
            <a href="#main5">주의사항</a>
        </div>
        <div class="header-right">
            <!--구입하기 버튼-->
            <button id="modalOpenButton">구입하기</button> 
        </div>
    </div>
    <div class="main">
        <!--1번 블럭 : 대표 제품 및 폼-->
        <div class="main1" id="main1">
            <div id="main1_slider">
                <div class="main1_slider main_slider">
                    <ul class="main1_slides main_slides">
                        <li><img src={% static 'subscriptions/image/galaxy-zflip3_colors_cream.png' %}></li>
                        <li><img src={% static 'subscriptions/image/galaxy-zfold3_5g.png' %}></li>
                        <li><img src={% static 'subscriptions/image/iphone-13.png' %}></li>
                    </ul>
                    <p class="main1_slider_controller main_slider_controller">
                        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                        <span class="prev1 prev">&lang;</span>
                        <span class="next1 next">&rang;</span>
                    </p>
                </div>
            </div>
            <div class="main1_form">
                <h1>특가 상담 신청</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{special_form.as_p}}
                    <input type="submit" value="전송">
                </form>
            </div>
        </div>
        <!--2번 블럭 : 제품 및 가격 확인-->
        <div class="main2" id="main2">
            <div id="main2_slider">
                <div class="main2_slider main_slider">
                    <ul class="main2_slides main_slides">
                        <li><img src={% static 'subscriptions/image/fox.jpg' %}></li>
                        <li><img src={% static 'subscriptions/image/moon.jpg' %}></li>
                        <li><div><h1>아무거나아무거나</h1></div></li>
                    </ul>
                    <p class="main2_slider_controller main_slider_controller">
                        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                        <span class="prev2 prev">&lang;</span>
                        <span class="next2 next">&rang;</span>
                    </p>
                </div>
            </div>
            <div class="main2_btn"><button>특가 구입 신청</button></div>
        </div>
        <!--3번 블럭 : 실시간 접수 현황-->
        <div class="main3" id="main3">
            <div class="main3_subscribe">subscribe</div>
        </div>
        <!--4번 블럭 : 구입하기-->
        <div class="main4" id="main4">
            <div class="main4_purchase">
                <h1>특가 상담 신청</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{special_form.as_p}}
                    <input type="submit" value="전송">
                </form>
            </div>
        </div>
        <!--5번 블럭 : 주의 사항-->
        <div class="main5" id="main5">
            <div class="main5_warning">
                <div id="main5_warning_title">
                    <h1>구입 신청 전 유의사항</h1>
                </div>
                <div id="main5_warning_1st_box" class="main5_warning_1st_box">
                    <div>
                        <img src="" alt="법정 대리인">
                        <h3>청소년 가입 상담은 법정 대리인만 가능합니다.</h3>
                    </div>
                    <div>
                        <img src="" alt="신용 불량자">
                        <h3>연체 및 신용 불량자는 상담이 불가합니다.</h3>
                    </div>
                    <div>
                        <img src="" alt="현금 완납">
                        <h3>현금 완납 가입은 정책 상 불가합니다.</h3>
                    </div>
                </div>
                <hr>
                <div id="main5_warning_2nd_box" class="main5_warning_2nd_box">
                    <h2>매일 달라지는 이통사 공시 지원금!!</h2>
                    <h1>선착순 100명 한정 판매 이벤트</h1>
                    <p>물량 소진 시 특가 판매 마감될 수 있습니다.</p>
                </div>
                <hr>
                <div id="main5_warning_3rd_box" class="main5_warning_3rd_box">
                    <div>
                        <!-- 이미지 display 속성 인라인으로 하기 -->
                        <img src="" alt="삼성 로고">
                        <img src="" alt="애플 로고">
                    </div>
                    <h1>역대급 할인으로 최신 스마트폰 판매</h1>
                    <p>이통사 별 공시 지원금은 매일 변경됩니다.</p>
                </div>
                <hr>
                <div id="main5_warning_4th_box" class="main5_warning_4th_box">
                    <div class="main5_warning_4th_box_title">
                        <h1>간편 구매 진행 절차</h1>
                    </div>
                    <div>
                        <div>
                            <img src="" alt="간편 문의">
                            <h3>간편 문의</h3>
                        </div>
                        <div>
                            <!-- 화살표 이미지 -->
                            <img src="" alt="화살표">
                        </div>
                        <div>
                            <img src="" alt="상담 안내 및 접수">
                            <h3>상담 안내 및 접수</h3>
                        </div>
                        <div>
                            <!-- 화살표 이미지 -->
                            <img src="" alt="화살표">
                        </div>
                        <div>
                            <img src="" alt="당일 배송">
                            <h3>당일 배송</h3>
                        </div>
                        <div>
                            <!-- 화살표 이미지 -->
                            <img src="" alt="화살표">
                        </div>
                        <div>
                            <img src="" alt="수령 및 개통">
                            <h3>수령 및 개통</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--다음 페이지 넘어가는 버튼-->
        <a href="{% url 'complete' %}"><button>complete?</button></a>
    </div>
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h1>특가 상담 신청</h1>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <div class="form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{special_form.as_p}}
                        <input type="submit" value="전송">
                    </form>
                </div>
    
            </div>
        </div>
            
        <div class="modal_layer"></div>
    </div>

    <script src={% static 'subscriptions/js/modal.js' %}></script>
    <script src={% static 'subscriptions/js/main_slider.js' %}></script>
</body>
</html>