* {
  margin: 0;
  padding: 0;
}

.time-banner {
  width: 100vw;
  height: 90px;
  background: black;

  /* 스크롤 시 슬라이더보다 위에서 움직이게 하기 위함 */
  z-index: 2;

  /* 스크롤 시 고정  */
  position: sticky;
  top: 0;
}

.header {
  width: 100vw;
  height: 50px;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* 스크롤 시 슬라이더보다 위에서 움직이게 하기 위함 */
  z-index: 2;

  /* 스크롤 시 고정  */
  position: sticky;
  top: 90px;
}

.main {
  width: 100vw;
  height: 5370px;
  background: lightcoral;
}

.main1 {
  width: 100vw;
  height: 700px;
  border: 2px solid blue;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main2 {
  width: 100vw;
  height: 1960px;
  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main3 {
  width: 100vw;
  height: 500px;
  border: 2px solid blue;

  display: flex;
}
.main3_subscribe {
  margin: auto;
}

.main4 {
  width: 100vw;
  height: 730px;
  border: 2px solid blue;

  display: flex;
}
.main4_purchase {
  margin: auto;
}

.main5 {
  width: 100vw;
  height: 1460px;
  border: 2px solid blue;

  display: flex;
}
.main5_warning {
  margin: auto;
}
